<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Authorization page</title>
    </head>
    <body>
        <h1>Authorization page</h1>
        <form th:method="post" th:action="@{/auth/login}" th:object="${loginRequest}">
            <div>
                <label for="login">Login</label>
                <input type="text" th:field="*{login}" id="login" required/>
                <div th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>
                <br/>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password" required/>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
                <br/>
                <input type="submit" value="Login"><br/>
                <a th:href="@{/auth/register}">
                    <button type="button">Register</button>
                </a>
            </div>
        </form>
    </body>
</html>