<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registration page</title>
    </head>
    <body>
        <h1>Registration page</h1>
        <form th:method="post" th:action="@{/auth/register}" th:object="${user}">
            <div>
                <label for="login">Login</label>
                <input type="text" th:field="*{username}" id="login"/>
                <br/>
                <label for="password">Password</label>
                <input type="password" th:field="*{password}" id="password"/>
                <br/>
                <input type="submit" value="Registration">
            </div>
        </form>
    </body>
</html>